*.pdf
*.odt
.env
NOTES

Here's a brief summary of all the tables in the database:
Access Level: Defines different access levels and roles within the system.
AccessLevelAllowedOperations: Represents allowed operations for each access level.
Activity Log: Logs user activities, queries, and execution timestamps.
Admin: Contains information about administrators.
Allowed Operations: Describes permitted database operations.
Amenity: Represents different amenities with categories.
Amenity Categories: Contains categories of amenities.
Booking: Stores details about property bookings, including guests, hosts, and payments.
Chat: Manages chat sessions between hosts and guests.
Country: Provides information about different countries.
Guest: Represents information about guests.
Host: Contains information about hosts.
Language: Lists various languages.
Media: Stores information about media files, including owner and file details.
Message: Manages messages exchanged between users.
Payment: Contains payment details for property bookings.
Payment Method: Describes different payment methods.
Payment Method Name: Contains names of payment methods.
Payment Status: Represents payment statuses.
Preferences: Stores user preferences, including language and contact settings.
Preferences Amenity, Country, Property Type: Link preferences with amenities, countries, and property types.
Promo: Manages promotional codes and their details.
Property: Represents properties with location, capacity, and amenities.
Property Amenity: Links properties with amenities.
Property Images: Links properties with images.
Property Review: Links properties with reviews.
Property Type: Describes different property types.
Review: Contains user reviews, ratings, and comments.
Review Type: Describes the entity being reviewed.
User: Stores user information, including guests, hosts, and administrators.
User Type: Defines different user types.
